
:root{
  --general-color: #442d25;
  --color-text: white;
  --menu-color: #5c3f36;
  --footer-color: #5c3f36;
}
body{
  margin: 0;
}
.second-block{
  background-color: #36241e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 50px;
  
  
}
.block-hero{
  background: linear-gradient(#5a3c32,#36241e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  font-size: 50px;
  
}
.block-hero img{
  width: 300px;
  margin-right: -67;
  margin-top:70px;
  
}
.block-hero h1{
  color: var(--color-text);
  font-size: 70;

}
.block-hero h2{
  margin-top: -40;
  color: var(--color-text);
  font-size: 35;
}
.second-block img{
  height: 60%;
}
.coffee-discription-block{
  display: flex;
  margin: 10px;
  height: 25%;
  margin-left: 20px;
  margin-right: 37px;
  margin-top: 40px;
  margin-bottom: 0;
  
}
.coffee-description{
  
  width: 160px;
}
.second-block p{
  color: var(--color-text);
  font-size: 16px;
}
.menu{
  background-color: var(--menu-color);
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu p{
  color: var(--color-text);
  font-size: 20px;
margin-top: 0px;
}
.footer{
  height: 100px;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.footer p{
  color: var(--color-text);
  font-size: 16px;
margin-top: 0px;
}
.Order{
  border: unset;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  background: #f57e1d;
  font-size: 16px;
  text-decoration: none ;
  
}
.Order-modal{
  border: unset;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  background: #f57e1d;
  font-size: 16px;
  text-decoration: none ;
  margin-top: 30px;
}
.menu-link{
  text-decoration: none ;
  color: white;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(255, 255, 255, 0.5);
  display: none;
}
.modal:target{
  display: block;
}
.modal-content{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px){
  .coffee-discription-block{
    display: flex;
    margin: 10px;
    height: 25%;
    margin-left: 55px;
    margin-right: 80px;
    margin-top: 50px;
    font-size: 30;
    flex-direction: column;
    align-items: center;
  }
  .block-hero img{
    width: 370px;
    margin-right: -60;
    margin-top: 50px;
  }
  .block-hero h1{
    color: var(--color-text);
    font-size: 80;
  }
  .block-hero h2{
    margin-top: 0;
    color: var(--color-text);
    font-size: 70;
  }
  .second-block img{
    width: 210px;
    
  }
  .second-block p{
    color: var(--color-text);
    font-size: 20px;
  }

.footer p{
  color: var(--color-text);
  font-size: 22px;
margin-top: 0px;
}
.menu p{
  color: var(--color-text);
  font-size: 25px;
margin-top: 0px;
}
.coffee-description{
  
  width: 430px;
}
.Order{
  border: unset;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  background: #f57e1d;
  font-size: 25px;
  text-decoration: none ;
  
}
.modal-content{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
.modal-content input{
  width: 300px;
  height: 50px;
}
.Order-modal{
  border: unset;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  background: #f57e1d;
  font-size: 25px;
  text-decoration: none ;
  margin-top: 30px;
}
}


